body {
    background-color: orange;
}
.company-name{
margin-bottom: 0;
    color: #FFD700;
    text-align: center;
    position: relative;
}
.motto{
    margin-top: 0;
    color: #808080;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.fitness-image{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    margin: 0;
}
.fitness-image img{
    width: 100%;
    height: auto;
}
.fitness-name{
    margin-bottom: -100px;
    font-weight: bold;
    text-align: center;
}
button{
    cursor: pointer;
}
.copyright{
    text-align: left;
}
#bottom{
    bottom: 0;
    left: 0;
    position: absolute;
}
canvas{
    z-index: -1;
}
.offer{
    font-size: 30px;
}
.standard-name{
    color: silver;
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.premium-name{
    color: gold;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

@keyframes price {
    0% {color: #fff;}
    50% {color: #FF0000;}
    100% {color: #fff;}
}
.price{
    font-size: 25px;
    animation: price 2s infinite;
}
.advantages{
    font-size: 25px;
}

.standard, .premium {
    margin-top: 10%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.standard {
    background-color: silver;
    color: darkblue;
}
.premium {
    background-color: gold;
    color: darkgreen;
}
@keyframes shining-std {
    0% {color: #fff;}
    50% {color: #C0C0C0;}
    100% {color: #fff;}
}
@keyframes shining-prm {
    0% {color: #fff;}
    50% {color: #FFD700;}
    100% {color: #fff;}
}

.advantages-standard {
    font-size: 40px;
    font-weight: bold;
    animation: shining-std 4s infinite;
}
.advantages-premium {
    font-size: 40px;
    font-weight: bold;
    animation: shining-prm 4s infinite;
}

button {
    justify-content: center;
    align-items: center;
}
.courses {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow;
}

.course-offering {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscriptions {
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: purple;
    color: white;
}
.day {
    font-size: 60px;
}
.btn-to-homepage {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.course {
    font-size: 40px;
}